footer {
    background-color: darkslategray;
    height: 3rem;
    color: wheat;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
    font-size: medium;
}