header {
    background-color: darkslategray;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .menu-item {
        padding: 0.5rem 1rem;
        text-decoration: none;
        font-weight: 400;
        font-size: large;
        color: wheat;
    }

    .is-active {
        background-color: lightblue;
        border-radius: 7px;
        color: darkblue;
    }
}